<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} !^public
    RewriteCond %{REQUEST_URI} !/dayside
    RewriteCond %{REQUEST_URI} !/date
    RewriteRule ^(.*)$ /public/$1 [L]
</IfModule>