* {
	font-family: 'Neucha', cursive;
}

.top-header {
	text-align: center;
	height: 80px;
}

.wrapper {
	width: 980px;
	margin: 0 auto;
}

body {
	background-image: url(../images/timber.png);
}

#content {
	& {
		background-color: rgba(255, 255, 255, 0.9);
		min-height: 101vh;
		margin: 0;
		transition: margin .4s ease;
	}

	&.cart-opened {
		margin-left: -100px;
		margin-right: 100px;
	}

	@media screen and (max-width: 1300px) {
		&.cart-opened {
			margin-left: -300px;
			margin-right: 300px;
		}
	}

	&.cart-opened .cart-container {
		right: 0;
	}

}

.cart-container {
	position: fixed;
    right: -315px;
    top: 0;
    width: 300px;
    background: white;
    padding: 20px;
    height: 100%;
    box-shadow: 0 0 15px black;
    transition: right .2s ease;
}

.fade-enter-active,
.fade-leave-active {
    transition: all .2s;
}
.fade-enter,
.fade-leave-to {
	padding-top: 10px;
    opacity: 0;
}

.padding {
	padding-left: 15px;
	padding-right: 15px;
}

.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.center {
	text-align: center;
}

.pointer {
	cursor: pointer;
}

.header-logo {
	font-size: 30px;
    padding: 10px 0;
}

nav {
	height: 50px;
}

.header-search {
	& {
		padding: 10px 0;
		position: relative;
	}
	input,
	button {
		height: 40px;
	    border: none;
	    background-color: white;
	    outline: none;
	}
	input {
	    border-radius: 10px 0px 0px 10px;
	}
	button {
	    border-radius: 0px 10px 10px 0px;
	}
	.autocomplete {
		position: absolute;
		left: 0px;
		top: 40px;
		background: white;
		padding: 5px 15px;
	}
}

.header-right {
	padding-top: 20px;
}

.product {
	& {
		padding: 5px;
	}
	.product-container {
		background-color: white;
		padding: 10px;
		border-radius: 5px;
		box-shadow: 0px 3px 15px -5px black;
	}
	.product-properties {
		text-align: center;
		font-size: 20px;
	}
	.product-image {
		height: 200px;
		text-align: center;
		margin: 20px 0;
	}
	.product-image img {
		max-width: 100%;
		max-height: 200px;
		text-align: center;
	}
}

.product-content {
	& {
		
	}
	.product-main-image {
		width: 100%;
	}
	.product-main-image img {
		width: 100%;
	}
}